In [ ]:
#1

In [10]:
import pandas as pd

In [56]:
amazon = pd.read_csv("amazon.csv")

In [3]:
amazon.shape

(20000, 2)

In [36]:
amazon.columns

Index(['TestoRecensione', 'Valutazione'], dtype='object')

In [37]:
amazon.head(10)

                                     TestoRecensione  Valutazione
0  This is a one of the best apps acording to a b...            1
1  This is a pretty good version of the game for ...            1
2  this is a really cool game. there are a bunch ...            1
3  This is a silly game and can be frustrating, b...            1
4  This is a terrific game on any pad. Hrs of fun...            1
5  This is a very entertaining game!  You don't h...            1
6  this is awesome and you don't need wi ti to pl...            1
7  this is awesome I bet no one even reads the re...            1
8  This is basicly the free version but with ads....            1
9  this is by far the best free app that is avail...            1

In [38]:
amazon.sample(10)

                                         TestoRecensione  Valutazione
11572  I was considering replacing my Kindle Fire wit...            1
214    This was fun. It took a while to know certain ...            1
14728  I haven't even bought this game and I'm grosse...            0
13618  why would you need a note calender....? can't ...            0
9336   AS AN UPDATE, my last review (below) was Octob...            0
10818  This is a good app.  I can increase and decrea...            1
9205   When Vevo first appeared as an app on my Roku,...            1
4895   Any calculator I use must have the +/- key and...            1
9643   Aldiko is the best e-book reader I have found ...            1
921    This one is fun and after each match 3 or more...            1

In [57]:
amazon.rename(columns={"reviewText": "TestoRecensione",
              "Valutazione(bool)": "Valutazione"},
              inplace=True)

In [39]:
amazon

                                         TestoRecensione  Valutazione
0      This is a one of the best apps acording to a b...            1
1      This is a pretty good version of the game for ...            1
2      this is a really cool game. there are a bunch ...            1
3      This is a silly game and can be frustrating, b...            1
4      This is a terrific game on any pad. Hrs of fun...            1
...                                                  ...          ...
19995  this app is fricken stupid.it froze on the kin...            0
19996  Please add me!!!!! I need neighbors! Ginger101...            1
19997  love it!  this game. is awesome. wish it had m...            1
19998  I love love love this app on my side of fashio...            1
19999  This game is a rip off. Here is a list of thin...            0

[20000 rows x 2 columns]

In [91]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TestoRecensione  20000 non-null  object
 1   Valutazione      20000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 312.6+ KB

In [40]:
amazon.describe()

        Valutazione
count  20000.000000
mean       0.761650
std        0.426085
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000

In [41]:
query1 = amazon.groupby("Valutazione")

In [42]:
positivi = query1.get_group(1)

In [43]:
positivi

                                         TestoRecensione  Valutazione
0      This is a one of the best apps acording to a b...            1
1      This is a pretty good version of the game for ...            1
2      this is a really cool game. there are a bunch ...            1
3      This is a silly game and can be frustrating, b...            1
4      This is a terrific game on any pad. Hrs of fun...            1
...                                                  ...          ...
19992  I love this app! cant get enough of it. its al...            1
19993  If I could rate 1,000,000,000,000,000,000,000 ...            1
19996  Please add me!!!!! I need neighbors! Ginger101...            1
19997  love it!  this game. is awesome. wish it had m...            1
19998  I love love love this app on my side of fashio...            1

[15233 rows x 2 columns]

In [44]:
negativi = query1.get_group(0)

In [45]:
negativi

                                         TestoRecensione  Valutazione
78     They call it three next mario??? Are the 'prof...            0
79     Angry People in my book!  Any moron who would ...            0
80     Argry Birds is for free to play a games on you...            0
81     cant stand this game. love the concept and pla...            0
82     Don't really know the point of this game.  It'...            0
...                                                  ...          ...
19969  I love TeamLava. This game sucked. Horrible, e...            0
19973  this app always closes when I'm invite it alwa...            0
19994  I hate it! I barely played it for 40 sec. befo...            0
19995  this app is fricken stupid.it froze on the kin...            0
19999  This game is a rip off. Here is a list of thin...            0

[4767 rows x 2 columns]

In [46]:
valutazionebool = amazon.Valutazione

In [48]:
valutazionebool.value_counts()

1    15233
0     4767
Name: Valutazione, dtype: int64

In [49]:
amazon.Valutazione.value_counts()

1    15233
0     4767
Name: Valutazione, dtype: int64

In [139]:
filtroapp = amazon.TestoRecensione.str.contains("app")

In [140]:
amazon.loc[filtroapp]

                                         TestoRecensione  Valutazione
0      This is a one of the best apps acording to a b...            1
6      this is awesome and you don't need wi ti to pl...            1
9      this is by far the best free app that is avail...            1
14     this is one of the best apps in the world alon...            1
17     This is the best app ever. It makes it way eas...            1
...                                                  ...          ...
19983  I love this game so much that I play it every ...            1
19992  I love this app! cant get enough of it. its al...            1
19993  If I could rate 1,000,000,000,000,000,000,000 ...            1
19995  this app is fricken stupid.it froze on the kin...            0
19998  I love love love this app on my side of fashio...            1

[9297 rows x 2 columns]

In [98]:
print(amazon[amazon["TestoRecensione"].str.contains("app")])

                                         TestoRecensione  Valutazione
0      This is a one of the best apps acording to a b...            1
6      this is awesome and you don't need wi ti to pl...            1
9      this is by far the best free app that is avail...            1
14     this is one of the best apps in the world alon...            1
17     This is the best app ever. It makes it way eas...            1
...                                                  ...          ...
19983  I love this game so much that I play it every ...            1
19992  I love this app! cant get enough of it. its al...            1
19993  If I could rate 1,000,000,000,000,000,000,000 ...            1
19995  this app is fricken stupid.it froze on the kin...            0
19998  I love love love this app on my side of fashio...            1

[9297 rows x 2 columns]

In [99]:
amazon[amazon["TestoRecensione"].str.contains("app")].value_counts()

TestoRecensione                                                                                                                                                                                                                                                 Valutazione
"Calculator Ultimate" is an outstanding calculator app. The scientific functions are exactly what I was looking for and it has a great, easy to use layout. The addition of a unit converter (which gets a lot of use) makes this a real winner!Installed and   1              1
This app sucks. It is very inaccurate, and it only tests you on recognizing patterns. I wasn't expecting much, but this was worse than expected.                                                                                                                0              1
This app was bought for my granddaughter and she loves it it reads the book to her so she can take it all around the house                                                                                                                                      1              1
This app was exactly what I was looking for. I shop with different needs in mind and this app helps me maintain running list of things without the hassle of pen & paper.  I love the barcode scanning so I can just scan the item when it's running low and n  1              1
This app was exactly what I was looking for. It's really easy to use. It dosn't connect with any banks or accounts so there is no worries about losing money and it has password protection for added security. By utilizing this app there is no need for me   1              1
                                                                                                                                                                                                                                                                              ..
I read everyday but this is really nice little addition to my other apps. I will be bouncing back and forth in my games and see that I have a scripture waiting for me. Keep the Word in my head throughout. the day. I like it :-)                             1              1
I read my Horoscope for fun.  This app. has been so dead on as to what is going on in my life.  So close sometimes that it gives me the Willies. Try it, its free! .                                                                                            1              1
I read that it costs money to send SMS messages, plus I do not understand why a greeting card app needs so many permissions.  Would like a dev to explain, or minimize permissions... and allow free sms.                                                       0              1
I read these jokes all the time since got this app and they're funny and I really like them, if you get this I hope you enjoy!                                                                                                                                  1              1
~~~~~~Happy April Fools, Superman!Your FAOTD reviews are hilarious. So many people, like me, have started creating their own reviews like yours to follow in your footsteps. I'm sorry about Openfeint ruining your marriage.Everyone, Superman wrote it as 5   0              1
Length: 9297, dtype: int64

In [145]:
filtrogame = amazon.TestoRecensione.str.contains("game")

In [146]:
amazon.loc[filtrogame]

                                         TestoRecensione  Valutazione
1      This is a pretty good version of the game for ...            1
2      this is a really cool game. there are a bunch ...            1
3      This is a silly game and can be frustrating, b...            1
4      This is a terrific game on any pad. Hrs of fun...            1
5      This is a very entertaining game!  You don't h...            1
...                                                  ...          ...
19991  great interactive game love playing it and so ...            1
19995  this app is fricken stupid.it froze on the kin...            0
19996  Please add me!!!!! I need neighbors! Ginger101...            1
19997  love it!  this game. is awesome. wish it had m...            1
19999  This game is a rip off. Here is a list of thin...            0

[4661 rows x 2 columns]

In [100]:
print(amazon[amazon["TestoRecensione"].str.contains("game")])

                                         TestoRecensione  Valutazione
1      This is a pretty good version of the game for ...            1
2      this is a really cool game. there are a bunch ...            1
3      This is a silly game and can be frustrating, b...            1
4      This is a terrific game on any pad. Hrs of fun...            1
5      This is a very entertaining game!  You don't h...            1
...                                                  ...          ...
19991  great interactive game love playing it and so ...            1
19995  this app is fricken stupid.it froze on the kin...            0
19996  Please add me!!!!! I need neighbors! Ginger101...            1
19997  love it!  this game. is awesome. wish it had m...            1
19999  This game is a rip off. Here is a list of thin...            0

[4661 rows x 2 columns]

In [118]:
print(amazon[amazon["TestoRecensione"].str.contains("kindle")])

                                         TestoRecensione  Valutazione
11     this. is fun an time consuming. works great on...            1
15     This is super fun though a little frustrating ...            1
32     This physics based game is perfect for people ...            1
33     This seems to be popular when my kindle fire i...            1
37     this was one of the first apps I got on my kin...            1
...                                                  ...          ...
19941  i got this game on my iphone, then on my kindl...            1
19974  I love this app so so much best app ever inven...            1
19988  its a really fun game to play and I love going...            1
19994  I hate it! I barely played it for 40 sec. befo...            0
19995  this app is fricken stupid.it froze on the kin...            0

[1356 rows x 2 columns]

In [58]:
amazon.TestoRecensione.str.contains("kindle").sum()

1356

In [127]:
print(amazon[amazon["TestoRecensione"].str.contains("Kindle")])

                                         TestoRecensione  Valutazione
24     This is the first app that I installed onKindl...            1
29     This is the original anfry birds game but it o...            1
34     This so much fun! My daughter has vthis app fo...            1
38     This was the 1st app I ever downloaded on my K...            1
49     We downloaded the free version for our tween's...            1
...                                                  ...          ...
19873  I play this on my Kindle Fire HD 7 inch screen...            1
19884  Kindle Fire - I didn't even play this game.  I...            0
19903  Kindle Fire User. I love the game. You do NOT ...            1
19906  Great knowing that your kids know how hard a f...            1
19913  I have always liked this game, I play it on my...            1

[1328 rows x 2 columns]

In [59]:
filtro1 = amazon.TestoRecensione.str.contains("kindle")
filtro2 = amazon.TestoRecensione.str.contains("Kindle")

In [60]:
filtro = filtro1 | filtro2

In [61]:
filtro.sum()

2663

In [62]:
#sono di piu perche appaiono due volte nella stringa, spra or
filtro1.sum() + filtro2.sum()

2684

In [67]:
def minuscolo(testo):
    return testo.lower()

In [69]:
for review in amazon.TestoRecensione.iloc[:5]:
    print("-", review, "\n")

- This is a one of the best apps acording to a bunch of people and I agree it has bombs eggs pigs TNT king pigs and realustic stuff

- This is a pretty good version of the game for being free. There are LOTS of different levels to play. My kids enjoy it a lot too.

- this is a really cool game. there are a bunch of levels and you can find golden eggs. super fun.

- This is a silly game and can be frustrating, but lots of fun and definitely recommend just as a fun time.

- This is a terrific game on any pad. Hrs of fun.  My grandkids love it. Great entertainment when waiting in long lines

In [70]:
for review in amazon.TestoRecensione.apply(minuscolo).iloc[:5]:
    print("-", review, "\n")

- this is a one of the best apps acording to a bunch of people and i agree it has bombs eggs pigs tnt king pigs and realustic stuff

- this is a pretty good version of the game for being free. there are lots of different levels to play. my kids enjoy it a lot too.

- this is a really cool game. there are a bunch of levels and you can find golden eggs. super fun.

- this is a silly game and can be frustrating, but lots of fun and definitely recommend just as a fun time.

- this is a terrific game on any pad. hrs of fun.  my grandkids love it. great entertainment when waiting in long lines

In [81]:
amazon.loc[:,"reviewTestoRecensione"] = [amazon.TestoRecensione[:].apply(minuscolo)]

AttributeError: 'float' object has no attribute 'lower'

In [74]:
for review in amazon.loc[filtro].iloc[:10 "TestoRecensione"]:
    print(review)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1650645275.py, line 1)

In [65]:
for review in amazon.loc[filtro].iloc[:10].loc[:,"TestoRecensione"]:
    print(review, "\n")

this. is fun an time consuming. works great on my kindle fire I really like this game so does my btother

This is super fun though a little frustrating at times!!!!!!!!! I loved it before I got my kindle I would beg my brother and dad to play. But when I get it I play it all the time!!!!!!

This is the first app that I installed onKindle Fire, Full Color 7" Multi-touch Display, Wi-Fiwhich I purchased recently from Amazon. Angry Birds (free version) works smoothly on Kindle fire.Love the smooth graphics! It responds perfectly and It is a ple

This is the original anfry birds game but it only works on the original Kindle Fire and not on the new HD version.NEW NOTE - This has now been updated to work on the new Kindle Fire HD. Of course that did not happen until I bought the paid version, but n

This physics based game is perfect for people of all ages to spend extra time on a mobile device. Yet it still offers some challenge. It works very well on the kindle fire.

This seems to be popular when my kindle fire is out of my hands.  Lots of fun and free time for me plus the graphics are very, very nice.

This so much fun! My daughter has vthis app for her IPhone but I never realized how much fun it is until I downloaded for my Kindle Fire. I highly recommend getting this app...works great on the Kindle Fire!

this was one of the first apps I got on my kindle fire and I love playing it. it is great for passing the time. the ads don't bother me at all they are in a small little box at the top right of the screen and I hardly notice them. it is not worth paying

This was the 1st app I ever downloaded on my Kindle Fire and I LOVE it! And you do not need wi-fi to play it!  I think it's a great app and time-waster.

We downloaded the free version for our tween's new Kindle Fire and everyone (from age 9 to 74) has had a blast playing the game which has many levels and challenges.  The graphics and sounds are great too.

In [75]:
frase = "I love mi Kindle, my kinDle is awesome"

In [79]:
frase.lower().count("kindle")

2

In [80]:
general_kindle = frase.lower().count("kindle")

In [ ]:
target_kindle = frase

In [66]:
#10 a caso
for review in amazon.loc[filtro].sample(10).loc[:,"TestoRecensione"]:
    print(review, "\n")

great app to have on your kindle if you wanted something other then amazons browser get the maxthon its great

Great!!!!! So glad I put this on my Kindle. I use it much more now than I ever did on my iPhone.

This is a must get funniest most destructive game out the 5/5* funniest game ive played on kindle. So stop reading reveiws and get it!

I've been using Plex for awhile now on my pc and Roku player, but decided to give it a go on the new kindle fire HD. I love the responsiveness and speed off it and how clear it is as well. Totally worth the cost.

Don't waste your time with this.  I only have a kindle and looking at the website without this app is much better.  There are limited graphics and options with it.

I loved this game growning up in Texas, Now its on my Kindle soooo happy I got it. Get it!

I love this game. It works quite well on my kindle fire.... this is not your average match three game. The creators really did something cute with this one. Highly recommended!!

I want this game but you cant buy on the kindle fire.. it sorta sad. if they made this for the fire id love it! thanks

I love it know instead of saying this stuff I can press it so lucky for me now if I get in trouble I can say I didn't say it my kindle said it

I use mine all the time on my Kindle Fire. It is simple and easy to use. I have no complaints.

In [147]:
amazon1 = amazon.loc[filtro]

In [148]:
amazon1

                                         TestoRecensione  Valutazione
0      This is a one of the best apps acording to a b...            1
6      this is awesome and you don't need wi ti to pl...            1
9      this is by far the best free app that is avail...            1
14     this is one of the best apps in the world alon...            1
17     This is the best app ever. It makes it way eas...            1
...                                                  ...          ...
19983  I love this game so much that I play it every ...            1
19992  I love this app! cant get enough of it. its al...            1
19993  If I could rate 1,000,000,000,000,000,000,000 ...            1
19995  this app is fricken stupid.it froze on the kin...            0
19998  I love love love this app on my side of fashio...            1

[9297 rows x 2 columns]

In [152]:
amazon1.Valutazione.value_counts(), print("le recensioni che menzionano Kindle positive sono: 6973 e negative: 2324")

le recensioni che menzionano Kindle positive sono: 6973 e negative: 2324

(1    6973
 0    2324
 Name: Valutazione, dtype: int64,
 None)

In [ ]:
#2

In [38]:
pazienti = pd.read_csv("diabetes.csv")

In [39]:
pazienti.rename(columns={"Age (years)": "Eta",
             "Diastolic blood pressure (mm Hg)": "PressioneSanguignaDiastolica"},
              inplace=True)

In [154]:
pazienti.shape

(768, 9)

In [5]:
pazienti

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,PressioneSanguignaDiastolica,Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Eta,Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
pazienti.sample(10)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,PressioneSanguignaDiastolica,Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Eta,Class variable
165,6,104,74,18,156,29.9,0.722,41,1
107,4,144,58,28,140,29.5,0.287,37,0
422,0,102,64,46,78,40.6,0.496,21,0
204,6,103,72,32,190,37.7,0.324,55,0
139,5,105,72,29,325,36.9,0.159,28,0
629,4,94,65,22,0,24.7,0.148,21,0
267,2,128,64,42,0,40.0,1.101,24,0
652,5,123,74,40,77,34.1,0.269,28,0
210,2,81,60,22,0,27.7,0.290,25,0
499,6,154,74,32,193,29.3,0.839,39,0

In [7]:
pazienti.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,PressioneSanguignaDiastolica,Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Eta,Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
filtro20 = pazienti.loc[:,"Eta"] <= 20

In [11]:
pazienti.loc[filtro20]

Empty DataFrame
Columns: [Number of times pregnant, Plasma glucose concentration a 2 hours in an oral glucose tolerance test, PressioneSanguignaDiastolica, Triceps skin fold thickness (mm), 2-Hour serum insulin (mu U/ml), Body mass index (weight in kg/(height in m)^2), Diabetes pedigree function, Eta, Class variable]
Index: []

In [12]:
filtro1_20_30 = pazienti.loc[:,"Eta"] >= 20

In [27]:
filtro2_20_30 = pazienti.loc[:,"Eta"] < 30

In [31]:
filtro20_30 = filtro1_20_30 & filtro2_20_30

In [32]:
pazienti.loc[filtro20_30]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,PressioneSanguignaDiastolica,Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Eta,Class variable
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
20,3,126,88,41,235,39.3,0.704,27,0
23,9,119,80,35,0,29.0,0.263,29,1
...,...,...,...,...,...,...,...,...,...
753,0,181,88,44,510,43.3,0.222,26,1
758,1,106,76,0,0,37.5,0.197,26,0
760,2,88,58,26,16,28.4,0.766,22,0
764,2,122,70,27,0,36.8,0.340,27,0
767,1,93,70,31,0,30.4,0.315,23,0

In [41]:
pazienti.loc[filtro20_30].mean()

Number of times pregnant                                                      1.921717
Plasma glucose concentration a 2 hours in an oral glucose tolerance test    113.744949
PressioneSanguignaDiastolica                                                 65.348485
Triceps skin fold thickness (mm)                                             21.949495
2-Hour serum insulin (mu U/ml)                                               84.393939
Body mass index (weight in kg/(height in m)^2)                               31.390404
Diabetes pedigree function                                                    0.451048
Eta                                                                          24.313131
Class variable                                                                0.212121
dtype: float64

In [33]:
filtro1_30_40 = pazienti.loc[:,"Eta"] >= 30
filtro2_30_40 = pazienti.loc[:,"Eta"] < 40

In [34]:
filtro30_40 = filtro1_30_40 & filtro2_30_40

In [35]:
pazienti.loc[filtro30_40]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,PressioneSanguignaDiastolica,Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Eta,Class variable
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
10,4,110,92,0,0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
748,3,187,70,22,200,36.4,0.408,36,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
762,9,89,62,0,0,22.5,0.142,33,0
765,5,121,72,23,112,26.2,0.245,30,0

In [36]:
filtro1_40_50 = pazienti.loc[:,"Eta"] >= 40
filtro2_40_50 = pazienti.loc[:,"Eta"] < 50

In [37]:
filtro40_50 = filtro1_40_50 & filtro2_40_50

In [38]:
pazienti.loc[filtro40_50]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,PressioneSanguignaDiastolica,Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Eta,Class variable
22,7,196,90,0,0,39.8,0.451,41,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
34,10,122,78,31,0,27.6,0.512,45,0
37,9,102,76,37,0,32.9,0.665,46,1
...,...,...,...,...,...,...,...,...,...
743,9,140,94,0,0,32.7,0.734,45,1
745,12,100,84,33,105,30.0,0.488,46,0
754,8,154,78,32,0,32.4,0.443,45,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

In [39]:
filtro50 = pazienti.loc[:,"Eta"] >= 50

In [40]:
pazienti.loc[filtro50]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,PressioneSanguignaDiastolica,Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Eta,Class variable
0,6,148,72,35,0,33.6,0.627,50,1
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
...,...,...,...,...,...,...,...,...,...
734,2,105,75,0,0,23.3,0.560,53,0
749,6,162,62,0,0,24.3,0.178,50,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
763,10,101,76,48,180,32.9,0.171,63,0

In [49]:
print("la media della pressione sanguigna diastolica nella fascia di età tra 20 e 30 è:", 
      int(pazienti.PressioneSanguignaDiastolica.loc[filtro20_30].mean()))
print("la media della pressione sanguigna diastolica nella fascia di età tra 30 e 40 è:", 
      int(pazienti.PressioneSanguignaDiastolica.loc[filtro30_40].mean()))
print("la media della pressione sanguigna diastolica nella fascia di età tra 40 e 50 è:", 
      int(pazienti.PressioneSanguignaDiastolica.loc[filtro40_50].mean()))
print("la media della pressione sanguigna diastolica nella fascia di età sopra i 50 è:", 
      int(pazienti.PressioneSanguignaDiastolica.loc[filtro50].mean()))

la media della pressione sanguigna diastolica nella fascia di età tra 20 e 30 è: 65
la media della pressione sanguigna diastolica nella fascia di età tra 30 e 40 è: 69
la media della pressione sanguigna diastolica nella fascia di età tra 40 e 50 è: 73
la media della pressione sanguigna diastolica nella fascia di età sopra i 50 è: 78

In [50]:
mediapressionexeta = pazienti.groupby(["Eta"])
mediapressionexeta.PressioneSanguignaDiastolica.mean()

Eta
21    65.936508
22    63.722222
23    64.315789
24    64.956522
25    59.666667
26    64.181818
27    73.500000
28    68.314286
29    68.241379
30    64.857143
31    64.375000
32    70.062500
33    65.647059
34    74.000000
35    75.600000
36    69.125000
37    75.947368
38    71.125000
39    72.666667
40    69.230769
41    67.590909
42    73.388889
43    78.461538
44    61.750000
45    83.066667
46    76.000000
47    78.333333
48    78.400000
49    81.400000
50    78.250000
51    84.500000
52    81.500000
53    79.000000
54    89.333333
55    70.250000
56    76.333333
57    76.800000
58    78.285714
59    74.000000
60    80.000000
61    76.000000
62    71.500000
63    78.000000
64    78.000000
65    78.666667
66    86.000000
67    72.666667
68    82.000000
69    81.000000
70    82.000000
72     0.000000
81    74.000000
Name: PressioneSanguignaDiastolica, dtype: float64

In [41]:
pazienti.iloc[:, -1].value_counts()

0    500
1    268
Name: Class variable, dtype: int64

In [44]:
pazienti.iloc[:, -1].value_counts(normalize=True)

0    0.651042
1    0.348958
Name: Class variable, dtype: float64

In [46]:
def codificaeta(eta):
    if eta < 20:
        return "<20"
    elif 20<= eta < 30:
        return "20-30"
    elif 30<= eta < 40:
        return "30-40"
    elif 40 <= eta <= 50:
        return "40-50"
    else:
        return ">50"

In [47]:
valore = 81
codificaeta(valore)

'>50'

In [ ]:
pazienti.loc[:, "Fasciaeta"] = pazienti.loc

In [ ]:
pazienti.loc[pazienti.Fasciaeta=="20-30"]

In [ ]:
pazienti.groupby("Fasciaeta")[:, "Diagnostica"].mean()

In [ ]:
pazienti.groupby("Age").mean()

In [51]:
abitanti = pd.read_csv("insurance.csv")

In [52]:
abitanti.shape

(1338, 7)

In [53]:
abitanti.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [54]:
abitanti

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [55]:
abitanti.sample(10)

      age     sex     bmi  children smoker     region      charges
514    39    male  28.300         1    yes  southwest  21082.16000
275    47  female  26.600         2     no  northeast   9715.84100
454    32    male  46.530         2     no  southeast   4686.38870
764    45  female  25.175         2     no  northeast   9095.06825
176    38    male  27.835         2     no  northwest   6455.86265
717    60    male  24.320         1     no  northwest  13112.60480
1166   57    male  40.370         0     no  southeast  10982.50130
926    19  female  23.400         2     no  southwest   2913.56900
1158   20  female  30.590         0     no  northeast   2459.72010
307    30  female  33.330         1     no  southeast   4151.02870

In [66]:
mediaonerixregione = abitanti.groupby(["region"])
mediaonerixregione.charges.mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [67]:
mediaonerixfumatore = abitanti.groupby(["smoker"])
mediaonerixfumatore.charges.mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [68]:
mediaonerixsesso = abitanti.groupby(["sex"])
mediaonerixsesso.charges.mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [69]:
abitanti.bmi.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1338 entries, 0 to 1337
Series name: bmi
Non-Null Count  Dtype
--------------  -----
1338 non-null   float64
dtypes: float64(1)
memory usage: 10.6 KB

In [70]:
abitanti.bmi.describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [71]:
abitanti.sort_values("bmi", ascending=True, inplace=True)

In [72]:
abitanti

      age     sex     bmi  children smoker     region      charges
172    18    male  15.960         0     no  northeast   1694.79640
428    21  female  16.815         1     no  northeast   3167.45585
1226   38    male  16.815         2     no  northeast   6640.54485
412    26  female  17.195         2    yes  northeast  14455.64405
1286   28  female  17.290         0     no  northeast   3732.62510
...   ...     ...     ...       ...    ...        ...          ...
286    46  female  48.070         2     no  northeast   9432.92530
116    58    male  49.060         0     no  southeast  11381.32540
847    23    male  50.380         1     no  southeast   2438.05520
1047   22    male  52.580         1    yes  southeast  44501.39820
1317   18    male  53.130         0     no  southeast   1163.46270

[1338 rows x 7 columns]

In [73]:
1338/4

334.5

In [74]:
abitanti.loc[:334, "bmi"]

172     15.960
428     16.815
1226    16.815
412     17.195
1286    17.290
         ...
477     35.625
50      35.625
415     35.640
515     35.700
334     35.720
Name: bmi, Length: 1058, dtype: float64

In [75]:
q1 = abitanti.bmi[334]

In [76]:
q1

35.72

In [ ]:
abitanti.groupby("region").mean().charges

In [ ]:
abitanti.groupby("sex").mean().charges

In [ ]:
abitanti.groupby("smoker").mean().charges

In [ ]:
abitanti.bmi.describe()

In [11]:
pokemon = pd.read_csv("pokemon.csv")

In [83]:
pokemon.shape

(800, 13)

In [84]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
pokemon.sample(10)

,#,Name,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
250,231,Phanpy,Ground,NaN,330,90,60,60,40,40,40,2,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
481,433,Chingling,Psychic,NaN,285,45,30,50,65,50,45,4,False
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
640,579,Reuniclus,Psychic,NaN,490,110,65,75,125,85,30,5,False
662,601,Klinklang,Steel,NaN,520,60,100,115,70,85,90,5,False
32,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
246,228,Houndour,Dark,Fire,330,45,60,30,80,50,65,2,False

In [86]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [12]:
pokemon.rename(columns={"Type 1": "Type1"},
                inplace= True)

In [87]:
pokemon.set_index("Name")

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
pokemon.reset_index()

,index,#,Name,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
pokemonunivoco = pokemon.groupby(["Name"])
pokemonunivoco.describe()

                            #                                                \
                        count   mean std    min    25%    50%    75%    max
Name
Abomasnow                 1.0  460.0 NaN  460.0  460.0  460.0  460.0  460.0
AbomasnowMega Abomasnow   1.0  460.0 NaN  460.0  460.0  460.0  460.0  460.0
Abra                      1.0   63.0 NaN   63.0   63.0   63.0   63.0   63.0
Absol                     1.0  359.0 NaN  359.0  359.0  359.0  359.0  359.0
AbsolMega Absol           1.0  359.0 NaN  359.0  359.0  359.0  359.0  359.0
...                       ...    ...  ..    ...    ...    ...    ...    ...
Zoroark                   1.0  571.0 NaN  571.0  571.0  571.0  571.0  571.0
Zorua                     1.0  570.0 NaN  570.0  570.0  570.0  570.0  570.0
Zubat                     1.0   41.0 NaN   41.0   41.0   41.0   41.0   41.0
Zweilous                  1.0  634.0 NaN  634.0  634.0  634.0  634.0  634.0
Zygarde50% Forme          1.0  718.0 NaN  718.0  718.0  718.0  718.0  718.0

                        Total         ...  Speed        Generation           \
                        count   mean  ...    75%    max      count mean std
Name                                  ...
Abomasnow                 1.0  494.0  ...   60.0   60.0        1.0  4.0 NaN
AbomasnowMega Abomasnow   1.0  594.0  ...   30.0   30.0        1.0  4.0 NaN
Abra                      1.0  310.0  ...   90.0   90.0        1.0  1.0 NaN
Absol                     1.0  465.0  ...   75.0   75.0        1.0  3.0 NaN
AbsolMega Absol           1.0  565.0  ...  115.0  115.0        1.0  3.0 NaN
...                       ...    ...  ...    ...    ...        ...  ...  ..
Zoroark                   1.0  510.0  ...  105.0  105.0        1.0  5.0 NaN
Zorua                     1.0  330.0  ...   65.0   65.0        1.0  5.0 NaN
Zubat                     1.0  245.0  ...   55.0   55.0        1.0  1.0 NaN
Zweilous                  1.0  420.0  ...   58.0   58.0        1.0  5.0 NaN
Zygarde50% Forme          1.0  600.0  ...   95.0   95.0        1.0  6.0 NaN


                         min  25%  50%  75%  max
Name
Abomasnow                4.0  4.0  4.0  4.0  4.0
AbomasnowMega Abomasnow  4.0  4.0  4.0  4.0  4.0
Abra                     1.0  1.0  1.0  1.0  1.0
Absol                    3.0  3.0  3.0  3.0  3.0
AbsolMega Absol          3.0  3.0  3.0  3.0  3.0
...                      ...  ...  ...  ...  ...
Zoroark                  5.0  5.0  5.0  5.0  5.0
Zorua                    5.0  5.0  5.0  5.0  5.0
Zubat                    1.0  1.0  1.0  1.0  1.0
Zweilous                 5.0  5.0  5.0  5.0  5.0
Zygarde50% Forme         6.0  6.0  6.0  6.0  6.0

[800 rows x 72 columns]

In [22]:
pokemonunivoci = pokemon["Name"].unique()
pokemonunivoci
len(pokemonunivoci)

800

In [24]:
pokemontype1 = pokemon.groupby(["Type1"])
pokemontype1.describe()

              #                                                               \
          count        mean         std    min     25%    50%     75%    max
Type1
Bug        69.0  334.492754  210.445160   10.0  168.00  291.0  543.00  666.0
Dark       31.0  461.354839  176.022072  197.0  282.00  509.0  627.00  717.0
Dragon     32.0  474.375000  170.190169  147.0  373.00  443.5  643.25  718.0
Electric   44.0  363.500000  202.731063   25.0  179.75  403.5  489.75  702.0
Fairy      17.0  449.529412  271.983942   35.0  176.00  669.0  683.00  716.0
Fighting   27.0  363.851852  218.565200   56.0  171.50  308.0  536.00  701.0
Fire       52.0  327.403846  226.262840    4.0  143.50  289.5  513.25  721.0
Flying      4.0  677.750000   42.437209  641.0  641.00  677.5  714.25  715.0
Ghost      32.0  486.500000  209.189218   92.0  354.75  487.0  709.25  711.0
Grass      70.0  344.871429  200.264385    1.0  187.25  372.0  496.75  673.0
Ground     32.0  356.281250  204.899855   27.0  183.25  363.5  535.25  645.0
Ice        24.0  423.541667  175.465834  124.0  330.25  371.5  583.25  713.0
Normal     98.0  319.173469  193.854820   16.0  161.25  296.5  483.00  676.0
Poison     28.0  251.785714  228.801767   23.0   33.75  139.5  451.25  691.0
Psychic    57.0  380.807018  194.600455   63.0  201.00  386.0  528.00  720.0
Rock       44.0  392.727273  213.746140   74.0  230.75  362.5  566.25  719.0
Steel      27.0  442.851852  164.847180  208.0  305.50  379.0  600.50  707.0
Water     112.0  303.089286  188.440807    7.0  130.00  275.0  456.25  693.0

          Total              ...   Speed        Generation            \
          count        mean  ...     75%    max      count      mean
Type1                        ...
Bug        69.0  378.927536  ...   85.00  160.0       69.0  3.217391
Dark       31.0  445.741935  ...   98.50  125.0       31.0  4.032258
Dragon     32.0  550.531250  ...   97.75  120.0       32.0  3.875000
Electric   44.0  443.409091  ...  101.50  140.0       44.0  3.272727
Fairy      17.0  413.176471  ...   60.00   99.0       17.0  4.117647
Fighting   27.0  416.444444  ...   86.00  118.0       27.0  3.370370
Fire       52.0  458.076923  ...   96.25  126.0       52.0  3.211538
Flying      4.0  485.000000  ...  121.50  123.0        4.0  5.500000
Ghost      32.0  439.562500  ...   84.25  130.0       32.0  4.187500
Grass      70.0  421.142857  ...   80.00  145.0       70.0  3.357143
Ground     32.0  437.500000  ...   90.00  120.0       32.0  3.156250
Ice        24.0  433.458333  ...   80.00  110.0       24.0  3.541667
Normal     98.0  401.683673  ...   90.75  135.0       98.0  3.051020
Poison     28.0  399.142857  ...   77.00  130.0       28.0  2.535714
Psychic    57.0  475.947368  ...  104.00  180.0       57.0  3.385965
Rock       44.0  453.750000  ...   70.00  150.0       44.0  3.454545
Steel      27.0  487.703704  ...   70.00  110.0       27.0  3.851852
Water     112.0  430.455357  ...   82.00  122.0      112.0  2.857143


               std  min   25%  50%   75%  max
Type1
Bug       1.598433  1.0  2.00  3.0  5.00  6.0
Dark      1.353609  2.0  3.00  5.0  5.00  6.0
Dragon    1.431219  1.0  3.00  4.0  5.00  6.0
Electric  1.604697  1.0  2.00  4.0  4.25  6.0
Fairy     2.147160  1.0  2.00  6.0  6.00  6.0
Fighting  1.800601  1.0  1.50  3.0  5.00  6.0
Fire      1.850665  1.0  1.00  3.0  5.00  6.0
Flying    0.577350  5.0  5.00  5.5  6.00  6.0
Ghost     1.693203  1.0  3.00  4.0  6.00  6.0
Grass     1.579173  1.0  2.00  3.5  5.00  6.0
Ground    1.588454  1.0  1.75  3.0  5.00  5.0
Ice       1.473805  1.0  2.75  3.0  5.00  6.0
Normal    1.575407  1.0  2.00  3.0  4.00  6.0
Poison    1.752927  1.0  1.00  1.5  4.00  6.0
Psychic   1.644845  1.0  2.00  3.0  5.00  6.0
Rock      1.848375  1.0  2.00  3.0  5.00  6.0
Steel     1.350319  2.0  3.00  3.0  5.00  6.0
Water     1.558800  1.0  1.00  3.0  4.00  6.0

[18 rows x 72 columns]

In [27]:
pokemon_legendary = pokemon.Legendary == True

In [28]:
pokemon_legendary

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

In [29]:
filtro_colonne = ["Name"]

In [30]:
pokemon_l = pokemon.loc[pokemon_legendary, filtro_colonne]

In [31]:
pokemon_l

                    Name
156             Articuno
157               Zapdos
158              Moltres
162               Mewtwo
163  MewtwoMega Mewtwo X
..                   ...
795              Diancie
796  DiancieMega Diancie
797  HoopaHoopa Confined
798   HoopaHoopa Unbound
799            Volcanion

[65 rows x 1 columns]

In [32]:
filtro1 = pokemon["Type1"] = "Grass"

In [35]:
pokemon_legendarigrass = pokemon.loc[pokemon_legendary, filtro_colonne] & filtro1

TypeError: Cannot perform 'and_' with a dtyped [object] array and scalar of type [bool]

In [36]:
pokemon.sort_values("Name")

,#,Name,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Grass,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Grass,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Grass,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Grass,NaN,510,60,105,60,120,60,105,5,False
631,570,Zorua,Grass,NaN,330,40,65,40,80,40,65,5,False
46,41,Zubat,Grass,Flying,245,40,45,35,30,40,55,1,False
695,634,Zweilous,Grass,Dragon,420,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Grass,Ground,600,108,100,121,81,95,95,6,True

In [37]:
pokemon.set_index("Name")

,#,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Grass,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Grass,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Grass,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Grass,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Grass,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Grass,Water,600,80,110,120,130,90,70,6,True

In [38]:
filtroD = pokemon.Name.str.contains("D")

In [41]:
pokemon.loc[filtroD]

,#,Name,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
55,50,Diglett,Grass,NaN,265,10,55,25,35,45,95,1,False
56,51,Dugtrio,Grass,NaN,405,35,80,50,50,70,120,1,False
91,84,Doduo,Grass,Flying,310,35,85,45,35,35,75,1,False
92,85,Dodrio,Grass,Flying,460,60,110,70,60,60,100,1,False
94,87,Dewgong,Grass,Ice,475,90,70,80,70,95,70,1,False
104,96,Drowzee,Grass,NaN,328,60,48,45,43,90,42,1,False
143,132,Ditto,Grass,NaN,288,48,48,48,48,48,48,1,False
159,147,Dratini,Grass,NaN,300,41,64,45,50,50,50,1,False
160,148,Dragonair,Grass,NaN,420,61,84,65,70,70,70,1,False
161,149,Dragonite,Grass,Flying,600,91,134,95,100,100,80,1,False
221,206,Dunsparce,Grass,NaN,415,100,70,70,65,65,45,2,False
243,225,Delibird,Grass,Flying,330,45,55,45,65,45,75,2,False
251,232,Donphan,Grass,NaN,500,90,120,120,60,60,50,2,False
292,269,Dustox,Grass,Poison,385,60,50,70,50,90,65,3,False
325,301,Delcatty,Grass,NaN,380,70,65,65,55,55,70,3,False
388,355,Duskull,Grass,NaN,295,20,40,90,30,90,25,3,False
389,356,Dusclops,Grass,NaN,455,40,70,130,60,130,25,3,False
428,386,DeoxysNormal Forme,Grass,NaN,600,50,150,50,150,50,150,3,True
429,386,DeoxysAttack Forme,Grass,NaN,600,50,180,20,180,20,150,3,True
430,386,DeoxysDefense Forme,Grass,NaN,600,50,70,160,70,160,90,3,True
431,386,DeoxysSpeed Forme,Grass,NaN,600,50,95,90,95,90,180,3,True
472,425,Drifloon,Grass,Flying,348,90,50,34,60,44,70,4,False
473,426,Drifblim,Grass,Flying,498,150,80,44,90,54,80,4,False
502,452,Drapion,Grass,Dark,500,70,90,110,60,75,95,4,False
529,477,Dusknoir,Grass,NaN,525,45,100,135,65,135,45,4,False
540,483,Dialga,Grass,Dragon,680,100,120,120,150,100,90,4,True
549,491,Darkrai,Grass,NaN,600,70,90,90,135,90,125,4,True
561,502,Dewott,Grass,NaN,413,75,75,60,83,60,60,5,False
588,529,Drilbur,Grass,NaN,328,60,85,40,30,45,68,5,False
614,554,Darumaka,Grass,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Grass,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Grass,Psychic,540,105,30,105,140,105,55,5,False
618,557,Dwebble,Grass,Rock,325,50,65,85,35,35,55,5,False
639,578,Duosion,Grass,NaN,370,65,40,50,125,60,30,5,False
641,580,Ducklett,Grass,Flying,305,62,44,50,44,50,55,5,False
646,585,Deerling,Grass,Grass,335,60,60,50,40,50,75,5,False
682,621,Druddigon,Grass,NaN,485,77,120,90,60,90,48,5,False
693,632,Durant,Grass,Steel,484,58,109,112,48,48,109,5,False
694,633,Deino,Grass,Dragon,300,52,65,50,45,50,38,5,False
723,655,Delphox,Grass,Psychic,534,75,69,72,114,100,104,6,False
728,660,Diggersby,Grass,Ground,423,85,56,77,50,77,78,6,False
749,680,Doublade,Grass,Ghost,448,59,110,150,45,49,35,6,False
761,691,Dragalge,Grass,Dragon,494,65,75,90,97,123,44,6,False
772,702,Dedenne,Grass,Fairy,431,67,58,57,81,67,101,6,False
795,719,Diancie,Grass,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Grass,Fairy,700,50,160,110,160,110,110,6,True

In [40]:
pokemon.loc[filtroD].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000,46.000000
mean,412.565217,445.043478,64.586957,83.130435,76.282609,72.673913,73.586957,74.782609,3.608696
std,211.412882,115.443677,24.668987,33.748487,34.976604,39.193001,31.916959,34.158398,1.782361
min,50.000000,265.000000,10.000000,30.000000,20.000000,15.000000,20.000000,25.000000,1.000000
25%,226.750000,331.250000,50.000000,58.500000,50.000000,45.750000,50.000000,50.000000,2.000000
50%,439.000000,439.500000,60.000000,75.000000,70.000000,60.000000,62.500000,70.000000,4.000000
75%,579.500000,518.750000,75.000000,100.000000,93.750000,93.750000,90.000000,95.000000,5.000000
max,719.000000,700.000000,150.000000,180.000000,160.000000,180.000000,160.000000,180.000000,6.000000

In [48]:
filtro1 = pokemon.loc[:,"Generation"] = "1"

In [49]:
filtro2 = pokemon.loc[:,"Attack"] > 50

In [50]:
filtro3 = pokemon.loc[:,"HP"] < 60

In [51]:
filtro = filtro1 & filtro2 & filtro3

TypeError: Cannot perform 'rand_' with a dtyped [bool] array and scalar of type [bool]

In [53]:
pokemon.query("Generation == "1" and Attack >= 50 and HP <= 60")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1529370751.py, line 1)

In [84]:
pk1 = pokemon.loc[:5, ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
pk1.sum(axis=1)

0    318
1    405
2    525
3    625
4    309
5    405
dtype: int64

In [85]:
pokemon.loc[:5, "Total"]

0    318
1    405
2    525
3    625
4    309
5    405
Name: Total, dtype: int64

In [86]:
pk1 = pokemon.loc[:, ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]

In [90]:
tot_sum = pk1.sum(axis=1) == pokemon.Total

In [91]:
tot_sum.sum()

800

In [92]:
pokemon.set_index("#", inplace=True)

In [93]:
pokemon

,Name,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [94]:
pokemon.loc[6]

,Name,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [8]:
lista_pokemon = list(pokemon.Name)
set_count = set()
for pokemon in pokemon.Name:
    numero_trovato = lista_pokemon.count(pokemon)
    set_count.add(numero_trovato)
    #print(lista_pokemon.count(pokemon))

AttributeError: 'str' object has no attribute 'Name'

In [4]:
pokemon

,#,Name,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
import re
s = set()
for x in amazon.TestoRecensione:
    [s.add(k) for k in re.findall(("[Kk].?", x)

In [13]:
pokemon.loc[:, "Type1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type1, dtype: int64

In [14]:
pokemon.loc[:, "Type 2"].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [15]:
pokemon.loc[pokemon.Legendary, "Name"]

156               Articuno
157                 Zapdos
158                Moltres
162                 Mewtwo
163    MewtwoMega Mewtwo X
              ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 65, dtype: object

In [17]:
for name in pokemon.loc[pokemon.Legendary, "Name"].sort_values():
    print(name)

Arceus
Articuno
Azelf
Cobalion
Darkrai
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysNormal Forme
DeoxysSpeed Forme
Dialga
Diancie
DiancieMega Diancie
Entei
GiratinaAltered Forme
GiratinaOrigin Forme
Groudon
GroudonPrimal Groudon
Heatran
Ho-oh
HoopaHoopa Confined
HoopaHoopa Unbound
Jirachi
Kyogre
KyogrePrimal Kyogre
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
LandorusIncarnate Forme
LandorusTherian Forme
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Lugia
Mesprit
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Moltres
Palkia
Raikou
Rayquaza
RayquazaMega Rayquaza
Regice
Regigigas
Regirock
Registeel
Reshiram
ShayminLand Forme
ShayminSky Forme
Suicune
Terrakion
ThundurusIncarnate Forme
ThundurusTherian Forme
TornadusIncarnate Forme
TornadusTherian Forme
Uxie
Victini
Virizion
Volcanion
Xerneas
Yveltal
Zapdos
Zekrom
Zygarde50% Forme

In [18]:
filtro = (pokemon.loc[:, "Type1"] == "Grass") & '''onda'''pokemon.Legendary
pokemon.loc[filtro, "Name"]

550    ShayminLand Forme
551     ShayminSky Forme
701             Virizion
Name: Name, dtype: object

In [20]:
filtro = (pokemon.loc[:, "Type1"] == "Grass") | (pokemon.loc[:, "Type 1"] == "Fire")
pokemon.loc[filtro, "Name"].sort_values()

KeyError: 'Type 1'

In [21]:
filtro = (pokemon.loc[:, "Type1"] == "Ice") | (pokemon.loc[:, "Type 1"] == "Fire")
filtro = filtro & pokemon.Legendary
pokemon.loc[filtro]

KeyError: 'Type 1'

In [22]:
pokemon.set_index("Name", inplace=True)
pokemon

,#,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [25]:
[nome for nome in pokemon.index if nome[0] == "D"]

['Diglett',
 'Dugtrio',
 'Doduo',
 'Dodrio',
 'Dewgong',
 'Drowzee',
 'Ditto',
 'Dratini',
 'Dragonair',
 'Dragonite',
 'Dunsparce',
 'Delibird',
 'Donphan',
 'Dustox',
 'Delcatty',
 'Duskull',
 'Dusclops',
 'DeoxysNormal Forme',
 'DeoxysAttack Forme',
 'DeoxysDefense Forme',
 'DeoxysSpeed Forme',
 'Drifloon',
 'Drifblim',
 'Drapion',
 'Dusknoir',
 'Dialga',
 'Darkrai',
 'Dewott',
 'Drilbur',
 'Darumaka',
 'DarmanitanStandard Mode',
 'DarmanitanZen Mode',
 'Dwebble',
 'Duosion',
 'Ducklett',
 'Deerling',
 'Druddigon',
 'Durant',
 'Deino',
 'Delphox',
 'Diggersby',
 'Doublade',
 'Dragalge',
 'Dedenne',
 'Diancie',
 'DiancieMega Diancie']

In [ ]:
pokemon.loc["Darkrai":"Dwe

In [27]:
nomiinizd = [nome for nome in pokemon.index if nome[0] == "D"]

In [29]:
pokemon.loc[nomiinizd[0]:nomiinizd[-1]]

,#,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Diglett,50,Ground,NaN,265,10,55,25,35,45,95,1,False
Dugtrio,51,Ground,NaN,405,35,80,50,50,70,120,1,False
Meowth,52,Normal,NaN,290,40,45,35,40,40,90,1,False
Persian,53,Normal,NaN,440,65,70,60,65,65,115,1,False
Psyduck,54,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Xerneas,716,Fairy,NaN,680,126,131,95,131,98,99,6,True
Yveltal,717,Dark,Flying,680,126,131,95,131,98,99,6,True
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [31]:
nomiiniz = [nome for nome in pokemon.index if nome[0] == "E"]
pokemon.loc[nomiiniz[0]:nomiiniz[-1]]

,#,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Ekans,23,Poison,NaN,288,35,60,44,40,54,55,1,False
Arbok,24,Poison,NaN,438,60,85,69,65,79,80,1,False
Pikachu,25,Electric,NaN,320,35,55,40,50,50,90,1,False
Raichu,26,Electric,NaN,485,60,90,55,90,80,110,1,False
Sandshrew,27,Ground,NaN,300,50,75,85,20,30,40,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Gogoat,673,Grass,NaN,531,123,100,62,97,81,68,6,False
Pancham,674,Fighting,NaN,348,67,82,62,46,48,43,6,False
Pangoro,675,Fighting,Dark,495,95,124,78,69,71,58,6,False
Furfrou,676,Normal,NaN,472,75,80,60,65,90,102,6,False
Espurr,677,Psychic,NaN,355,62,48,54,63,60,68,6,False

In [32]:
filtro1 = pokemon.Attack > 50
filtro2 = pokemon.HP < 60
filtro3 = pokemon.Generation == 1
filtro = filtro1 & filtro2 & filtro3
pokemon.loc[filtro]

,#,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
Wartortle,8,Water,NaN,405,59,63,80,65,80,58,1,False
Rattata,19,Normal,NaN,253,30,56,35,25,35,72,1,False
Raticate,20,Normal,NaN,413,55,81,60,50,70,97,1,False
Spearow,21,Normal,Flying,262,40,60,30,31,31,70,1,False
Ekans,23,Poison,NaN,288,35,60,44,40,54,55,1,False
Pikachu,25,Electric,NaN,320,35,55,40,50,50,90,1,False
Sandshrew,27,Ground,NaN,300,50,75,85,20,30,40,1,False
Nidoran♂,32,Poison,NaN,273,46,57,40,40,40,50,1,False
Paras,46,Bug,Grass,285,35,70,55,45,55,25,1,False
Diglett,50,Ground,NaN,265,10,55,25,35,45,95,1,False
Dugtrio,51,Ground,NaN,405,35,80,50,50,70,120,1,False
Psyduck,54,Water,NaN,320,50,52,48,65,50,55,1,False
Mankey,56,Fighting,NaN,305,40,80,35,35,45,70,1,False
Growlithe,58,Fire,NaN,350,55,70,45,70,50,60,1,False
Bellsprout,69,Grass,Poison,300,50,75,35,70,30,40,1,False
Geodude,74,Rock,Ground,300,40,80,100,30,30,20,1,False
Graveler,75,Rock,Ground,390,55,95,115,45,45,35,1,False
Ponyta,77,Fire,NaN,410,50,85,55,65,65,90,1,False
Magneton,82,Electric,Steel,465,50,60,95,120,70,70,1,False
Farfetch'd,83,Normal,Flying,352,52,65,55,58,62,60,1,False
Doduo,84,Normal,Flying,310,35,85,45,35,35,75,1,False
Shellder,90,Water,NaN,305,30,65,100,45,25,40,1,False
Cloyster,91,Water,Ice,525,50,95,180,85,45,70,1,False
Krabby,98,Water,NaN,325,30,105,90,25,25,50,1,False
Kingler,99,Water,NaN,475,55,130,115,50,50,75,1,False
Hitmonlee,106,Fighting,NaN,455,50,120,53,35,110,87,1,False
Hitmonchan,107,Fighting,NaN,455,50,105,79,35,110,76,1,False
Koffing,109,Poison,NaN,340,40,65,95,60,45,35,1,False
Seadra,117,Water,NaN,440,55,65,95,95,45,85,1,False
Goldeen,118,Water,NaN,320,45,67,60,35,50,63,1,False
Eevee,133,Normal,NaN,325,55,55,50,45,65,55,1,False
Kabuto,140,Rock,Water,355,30,80,90,55,45,55,1,False
Dratini,147,Dragon,NaN,300,41,64,45,50,50,50,1,False

In [33]:
filtro1 = pokemon.Attack > 50
filtro2 = pokemon.HP < 60
filtro3 = pokemon.Generation == 1
filtro4 = pokemon.Speed == 70
filtro = filtro1 & filtro2 & filtro3 & filtro4
pokemon.loc[filtro]

,#,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Spearow,21,Normal,Flying,262,40,60,30,31,31,70,1,False
Mankey,56,Fighting,NaN,305,40,80,35,35,45,70,1,False
Magneton,82,Electric,Steel,465,50,60,95,120,70,70,1,False
Cloyster,91,Water,Ice,525,50,95,180,85,45,70,1,False

In [34]:
pokemon.isnull().sum()

#               0
Type1           0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [36]:
filtro = pokemon.loc[:, "Type 2"].isnull()
pokemon.loc[filtro]

,#,Type1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False
Wartortle,8,Water,NaN,405,59,63,80,65,80,58,1,False
Blastoise,9,Water,NaN,530,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Sliggoo,705,Dragon,NaN,452,68,75,53,83,113,60,6,False
Goodra,706,Dragon,NaN,600,90,100,70,110,150,80,6,False
Bergmite,712,Ice,NaN,304,55,69,85,32,35,28,6,False
Avalugg,713,Ice,NaN,514,95,117,184,44,46,28,6,False
Xerneas,716,Fairy,NaN,680,126,131,95,131,98,99,6,True

In [37]:
filtro = pokemon.loc[:, "Type 2"].isnull()
pokemon.loc[filtro].Generation.value_counts()

1    88
5    83
3    78
4    54
2    51
6    32
Name: Generation, dtype: int64